*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --main-color: #fcda9a;
  --vue-color-1:#41b883;
  --vue-color-2: #35495e;
  --text-color: #1A2F33;
  --main-font: "Dancing Script", cursive;
  --main-font-1: "Montez", cursive;
  --main-font-2: "Suranna", serif;
}

.scroll-enter-active {
  transition: all 0.4s ease-out;
}

.scroll-leave-active {
  transition: all 0.5s ease-out;
}

.scroll-enter-from {
  opacity: 0;
  transform: translateY(-20px);
}

.scroll-enter-to {
  opacity: 1;
}

.scroll-leave-from {
  opacity: 1;
}

.scroll-leave-to {
  opacity: 0;
  transform: translateY(-100px);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 1s ease-in;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.base-leave-active, .base-enter-active {
  transition: all 0.5s ease-out;
}

.base-enter-from {
  opacity: 0;
  transform: translateY(-100%);
}

.base-leave-to {
  opacity: 1;
}

.base-leave-to {
  transform: translateY(-100%);
}
